# Environment variables
.env
.streamlit/secrets.toml

# Virtual environment
venv/
env/

# Cache
__pycache__/
*.pyc
medical_db/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Backup files
app_local_ollama.py
